body{
    text-align: center;
    background-color:maroon;
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
   

}
div.container-lemon{
    text-align: center;
}
h1{
    color: white;
}
h2,
h3,
h4{
    color:#87A330;
    font-weight: bold;
}
p{text-align: center
    ;}

main{
    text-align: center;
   
}
ul>li{
    list-style-type: none;
    text-decoration: none;
   
}
ol{
    text-align: center;
}
ul>li>a{
    text-decoration-line: none;
    text-decoration: none;
    list-style-type: none;
    color: #87A330;
    font-weight: bold;

}

ul.list li>{
    
}